<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WekiLogAnalyzer/src/WekiLogs/logs/gui/LogExplorer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="WekiLogs.logs.gui.LogExplorer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WekiLogAnalyzer"/>
</launchConfiguration>
